body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
  font-family: 'Barlow', sans-serif;
}

input[type=checkbox] {
  color: var(--marrom-claro);
}

input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
  color: var(--marrom-claro);
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.banner-1 {
  background-image: url(./assets/banner-1.png);

}

.banner-2 {
  background-image: url(./assets/banner-2.png);

}

.banner-3 {
  background-image: url(./assets/banner-3.png);

}

.banners {
  width:100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.banners-titulo {
  --bs-bg-opacity: .2;
}

.botao-padrao {
  background-color: var(--marrom-claro);
  transition: all 0.3s;
}

.botao-padrao:hover {
 border:solid 3px var(--marrom-claro);
 
}

.form-range::-webkit-slider-thumb {
  background-color: var(--marrom-claro);
}

.fundo-marrom-claro {
  background-color: var(--marrom-claro);
}

[data-bs-theme="dark"] {
  color: white;
  .nav-link, .card-body, .accordion-button, .accordion, .btn {
    --bs-nav-link-color: white;
    --bs-card-color: white;
    --bs-accordion-btn-color: white;
    --bs-body-color: white;
  }
}

@media (min-width: 768px) { 
  .container-50-md {
    width:50%;
  }
  .container-60-md {
    width:60%;
  }
 }